*{
	box-sizing: border-box;
}

header {
	background-color: #fff;
	width: 1920px;
	height: 69px;
}

.clearfix{
	clear: both;
}
.logo{
	float:left;
}

.navigation{
	float: right;
	font-family: 'Titillium Web', sans-serif;
	font-family: 16px;
	color: #999999;
}

.slider{
	color: #fff;
	background: #807c7e url(../img/background.jpg) center center no-repeat fixed;
	background-size: cover;
	position: relative;
}
/*.slideshow {
	color: #fff;
	background: #807c7e url(../img/background.jpg) center center no-repeat fixed;
	background-size: cover;
}*/


h1, h2, h3{
	font-family: 'Teko', sans-serif;
	text-transform: uppercase;
}

h1{
	font-size: 120px;
	font-weight: 400;
	letter-spacing: 10px;
	margin-bottom: 10px;
	padding-top: 314px;
	padding-bottom: 57px;
	margin: 0 auto;
	width: 1213px;
	text-align: center;
}

h2{
	font-size: 30px;
	text-align: center;
}

h3{
	font-size: 20px;
}

.slideshow p{
	font-size: 22px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	width: 726px;
	margin-bottom: 51px;
}

.button{
	width: 232px;
	height: 50px;
	background: #fff;
	color: black;
	font-family: 'Teko', sans-serif;
	font-size: 20px;
	padding: 20px 56px;
	letter-spacing: 2px;
	text-decoration: none;
}

.slider nav{
	margin-top: 233px;
}

.slider nav li{
	margin: 0 auto 3px;
	display: inline-block;
	width: 41px;
	height: 6px;
	background-color: #666666;
	position: center;
}

.active{
	background-color: #fff;
}

